* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

body {
    overflow-x: hidden;
}



h1,
h2,
h3,
h4 {
    color: rgb(255, 255, 255);
}

a {
    color: #fff;
    text-decoration: none;

}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 2rem;
}

nav img {
    width: 100px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #64DD17;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.showcase-text {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.showcase-text h1 {
    font-size: 62px;
}

.animate__animated.animate__slideInDown {
    --animate-duration: 1s;
    --animate-delay: 0.9s;
}



.showcase-text p {
    margin: 10px 0 40px;
    font-size: 14px;
}

.apply-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.apply-btn:hover {
    border: 1px solid #64DD17;
    background: #64DD17;
    transition: 1s;
}

/*menu button*/

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: white;
    position: relative;
    left: 6rem;
}

@media(max-width: 700px) {
    .showcase-text h1 {
        font-size: 20px;
    }



    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 15%;
        gap: 0;
        flex-direction: column;
        background-color: #64DD17;
        width: 100%;
        text-align: center;
        transition: 0.5s;
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-menu.active {
        left: 0;
    }

}


/*courses tab*/
.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;


}

.course h1 {
    color: black;
    font-weight: 900;
    font-size: 3.2rem;
}

.course p {
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 1.4px;
    font-family: 'Times New Roman', Times, serif;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.row h3 {
    color: black;
    font-weight: 600;
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.course-column {
    flex-basis: 31%;
    background: #43af00;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.course-column:hover {
    box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width:700px) {
    .row {
        flex-direction: column;
    }
}

.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px;
}

.campus h1 {
    color: black;
    font-weight: 900;
    font-size: 3.2rem;
}

.campus-column {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-column img {
    width: 100%;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

}

.layer:hover {
    background: rgba(29, 173, 16, 0.7);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities h1 {
    color: black;
    font-weight: 900;
    font-size: 3.2rem;
}

.facilities-column {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-column img {
    width: 100%;
    border-radius: 10px;
}

.facilities-column p {
    padding: 0;
}

.facilities-column h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}


.testimonials {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.testimonials h1 {
    color: black;
    font-weight: 900;
    font-size: 3.2rem;
}

.testimonials-column {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #0e51b6;
    padding: 25px;
    cursor: pointer;
    display: flex;

}

.testimonials-column img {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;

}

.testimonials-column p {
    padding: 0;
    color: #fff;
}

.testimonials-column h3 {
    margin-top: 15px;
    text-align: left;
    color: #fff;
}

@media(max-width:700px) {
    .testimonials-column img {
        margin-left: 0px;
        margin-right: 15px;
    }
}

.testimonials-column .fa-solid {
    color: #f44336;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 2%;
    margin-top: 20px;
    font-weight: 600;
    color: black;
}

.icons .fa-brands {
    color: #0e51b6;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;

}



/*---------about us page ------- */
.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;

}

.about-column {
    flex-basis: 48%;
    padding: 30px 3px;
}

.about-column img {
    width: 100%;
}

.about-column h1 {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: x-large;
}

.about-btn {
    border: 1px solid #64DD17;
    background: transparent;
    color: #64DD17;
}

.location {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.location img {
    width: 100%;

}

/*courses page*/

.medicine {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;

}

.medicine-column {
    flex-basis: 48%;
    padding: 30px 3px;
}

.medicine-column img {
    width: 100%;
}

.medicine-column h1 {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: x-large;
}

.medicine-btn {
    border: 1px solid #64DD17;
    background: transparent;
    color: #64DD17;
}